.card {
  transition: 0.5s;
}
.card:hover {
  transition: 1s;
  cursor: pointer;
  border: 1px solid blue;
  transform: scale(1.05);
}
.my-img {
  transform: scale(1.1);
  height: 100%;
  width: 100%;
  transition: .5s;
}
.avatar-container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container{
  height: 100px;
  width: 100px;
  z-index: 1;
  border-radius: 50%;
  box-shadow: 0 2px 4px 4px #cfe2ff;
  overflow: hidden;
}
.loading-container{
  margin-top: 20%;
  width: 50hv !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
